{# {% extends "./base2.html.twig" %}

        {% block body %}


<main class="flex-1 flex bg-gray-50">
  <section class="bg-gray-50 dark:bg-gray-50  w-full">
          <div class=" sm:ml-20">
            <div class=" border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-0">

            <div class=" border-b border-gray-200">
              {#            <h1 class="text-6xl pt-12 pb-8">#}
              {#              Buiding Records ({{ building|length }})#}
              {#            </h1>#}

              {#            <span class="font-light text-gray-500 italic">#}
              {#                Created by Code With me#}
              {#            </span>#}
            {# </div>
          </div>
          {#        {% if app.user %}#}
          {# <div class="mx-auto w-4/5 my-8">
            <a
                    href="/CreateBuilding"
                    class="uppercase border border-gray-500 text-lg py-4 px-6 rounded transition transition-all bg-gray-800 text-white hover:bg-white hover:text-gray-800">
              Create New Post
            </a>
          </div> #}
          {#        {% endif %}#}

          {# <div class="md:grid lg:grid-cols-3 gap-20 w-4/5 mx-auto py-15 ">
            {% for building in buildings %}

              <div class="text-center pt-8 pb-4">
                <img
                        src="{{ building.ImagePath }}"
                        alt=""
                        class="shadow-xl rounded-md"
                />
                <h2 class="text-gray-700 font-bold text-3xl py-2">
                  {{ building.name }}
                </h2>

                <span class="text-gray-500">
              By <span class="italic text-sm text-gray-800">Building No | {{ building.code }}</span>
                </span> #}

                {# <p class="text-base text-gray-700 pt-4 pb-10 leading-8 font-light">
                  {{ building.description }}
                </p>
                <a href="/building/{{ building.id }}" class="uppercase border border-gray-500 text-gray-600 text-lg py-4 px-12 rounded transition transition-all hover:bg-gray-800 hover:text-white">
                  Keep Reading
                </a>
              </div>
            {% endfor %}
          </div>
          </div>


</section>
</main> #}
        {# {% endblock %} #} 
 




<!DOCTYPE html>
<html dir="ltr" lang="en">
   <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="keywords"
      content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Matrix lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Matrix admin lite design, Matrix admin lite dashboard bootstrap 5 dashboard template"
    />
    <meta
      name="description"
      content="Matrix Admin Lite Free Version is powerful and clean admin dashboard template, inpired from Bootstrap Framework"
    />


        {# flowable template head --start #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://flowbite.com/application-ui/demo/app.css">
<link rel="apple-touch-icon" sizes="180x180" href="https://flowbite.com/application-ui/demo/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://flowbite.com/application-ui/demo/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://flowbite.com/application-ui/demo/favicon-16x16.png">
<link rel="icon" type="image/png" href="https://flowbite.com/application-ui/demo/favicon.ico">
<link rel="manifest" href="https://flowbite.com/application-ui/demo/site.webmanifest">
<link rel="mask-icon" href="https://flowbite.com/application-ui/demo/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
<!-- Twitter -->
{# <meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@">
<meta name="twitter:creator" content="@">
<meta name="twitter:title" content="Tailwind CSS Mailing Inbox Page - Flowbite">
<meta name="twitter:description" content="Get started with a premium admin dashboard layout built with Tailwind CSS and Flowbite featuring 21 example pages including charts, kanban board, mailing system, and more.">
<meta name="twitter:image" content="https://flowbite.com/application-ui/demo/images/og-image.jpg"> #}

<!-- Facebook -->
<meta property="og:url" content="https://flowbite.com/application-ui/demo/mailing/inbox/">
<meta property="og:title" content="Tailwind CSS Mailing Inbox Page - Flowbite">
<meta property="og:description" content="Get started with a premium admin dashboard layout built with Tailwind CSS and Flowbite featuring 21 example pages including charts, kanban board, mailing system, and more.">
<meta property="og:type" content="article">
<meta property="og:image" content="https://flowbite.com/application-ui/demo/images/og-image.jpg">
<meta property="og:image:type" content="image/png">





<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-141734189-9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-141734189-9');
</script>


<script>
    
    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('v2fLMH8w3xgUEQcl63H9');
    } else {
        document.documentElement.classList.remove('v2fLMH8w3xgUEQcl63H9')
    }
</script>

        {# end #}


    <meta name="robots" content="noindex,nofollow" />
    <title></title>
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../asset/images/"
    />
    <!-- Custom CSS -->
    <link href="../asset/libs/flot/css/float-chart.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="../dist/css/style.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin5"
      data-sidebartype="full"
      data-sidebar-position="absolute"
      data-header-position="absolute"
      data-boxed-layout="full"
    >
      <!-- ============================================================== -->
      <!-- Topbar header - style you can find in pages.scss -->
      <!-- ============================================================== -->
     <header class="topbar" data-navbarbg="skin5"> <nav class="navbar top-navbar navbar-expand-md navbar-dark">
					<div class="navbar-header" data-logobg="skin5">
						<!-- ============================================================== -->
						<!-- Logo -->
						<!-- ============================================================== -->
							<a
							class="navbar-brand" href="index.html"> <!-- Logo icon -->
							<b class="chat-img">
								<!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
								<!-- Dark Logo icon -->
									<a class="
										                    nav-link
										                    dropdown-toggle
										                    text-muted
										                    waves-effect waves-dark
										                    pro-pic
										                  " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <img src="../asset/images/users/user-100.png" alt="user" class="rounded-circle" width="31"/>
									{{app.user.email}}
								</a>
							</b>


							{# <div class="chat-img">
							                          <img src="../asset/images/users/1.jpg" alt="user" /> 
							                        </div>
							                        <div class="chat-content">
							                          <h6 class="font-medium">{{ app.user.firstName }}</h6> #}

							<!--End Logo icon -->
							<!-- Logo text -->
								<span
								class="logo-text ms-2"> <!-- dark Logo text -->
								<img src="../asset/images/" alt="" class="light-logo"/>
							</span>
							<!-- Logo icon -->
						<!-- <b class="logo-icon"> -->
							<!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
							<!-- Dark Logo icon -->
							<!-- <img src="../assets/images/logo-text.png" alt="homepage" class="light-logo" /> -->

							<!-- </b> -->
							<!--End Logo icon -->
						</a>
						<!-- ============================================================== -->
						<!-- End Logo -->
						<!-- ============================================================== -->
						<!-- ============================================================== -->
						<!-- Toggle which is visible on mobile only -->
						<!-- ============================================================== -->
							<a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"> <i class="ti-menu ti-close"></i>
						</a>
					</div>
					<!-- ============================================================== -->
					<!-- End Logo -->
					<!-- ============================================================== -->
						<div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5"> <!-- ============================================================== -->
						<!-- toggle and nav items -->
						<!-- ============================================================== -->
							<ul class="navbar-nav float-start me-auto"> <li class="nav-item d-none d-lg-block">
								<a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar">
									<i class="mdi mdi-menu font-24"></i>
								</a>
							</li>
							<!-- ============================================================== -->
							<!-- create new -->
							<!-- ============================================================== -->
								<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<span class="d-none d-md-block">Create New
										<i class="fa fa-angle-down"></i>
									</span>
									<span class="d-block d-md-none">
										<i class="fa fa-plus"></i>
									</span>
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									{# <li>
										<a class="dropdown-item" href="#">Action</a>
									</li> #}
									<li>
										<a class="dropdown-item" href="/CreateBuilding">Create Building</a>
									</li>
									{# <li><hr class="dropdown-divider"/></li> #}
									{# <li>
										<a class="dropdown-item" href="#">Something else here</a>
									</li> #}
								</ul>
							</li>
							<!-- ============================================================== -->
							<!-- Search -->
							<!-- ============================================================== -->
								<li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark" href="javascript:void(0)">
									<i class="mdi mdi-magnify fs-4"></i>
								</a>
								<form class="app-search position-absolute">
									<input type="text" class="form-control" placeholder="Search &amp; enter"/>
									<a class="srh-btn">
										<i class="mdi mdi-window-close"></i>
									</a>
								</form>
							</li>
						</ul>
						<!-- ============================================================== -->
						<!-- Right side toggle and nav items -->
						<!-- ============================================================== -->
							<ul class="navbar-nav float-end"> <!-- ============================================================== -->
							<!-- Comment -->
							<!-- ============================================================== -->
								<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="mdi mdi-bell font-24"></i>
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li>
										<a class="dropdown-item" href="#">Action</a>
									</li>
									<li>
										<a class="dropdown-item" href="#">Another action</a>
									</li>
									<li><hr class="dropdown-divider"/></li>
									<li>
										<a class="dropdown-item" href="#">Something else here</a>
									</li>
								</ul>
							</li>
							<!-- ============================================================== -->
							<!-- End Comment -->
							<!-- ============================================================== -->
							<!-- ============================================================== -->
							<!-- Messages -->
							<!-- ============================================================== -->
								<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle waves-effect waves-dark" href="#" id="2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="font-24 mdi mdi-comment-processing"></i>
								</a>
								<ul class="
									                    dropdown-menu dropdown-menu-end
									                    mailbox
									                    animated
									                    bounceInDown
									                  " aria-labelledby="2">
									<ul class="list-style-none">
										<li>
											<div
												class="">
												<!-- Message -->
												<a href="javascript:void(0)" class="link border-top">
													<div class="d-flex no-block align-items-center p-10">
														<span class="
																                                btn btn-success btn-circle
																                                d-flex
																                                align-items-center
																                                justify-content-center
																                              ">
															<i class="mdi mdi-calendar text-white fs-4"></i>
														</span>
														<div class="ms-2">
															<h5 class="mb-0">Event today</h5>
															<span class="mail-desc">Just a reminder that event</span>
														</div>
													</div>
												</a>
												<!-- Message -->
												<a href="javascript:void(0)" class="link border-top">
													<div class="d-flex no-block align-items-center p-10">
														<span class="
																                                btn btn-info btn-circle
																                                d-flex
																                                align-items-center
																                                justify-content-center
																                              ">
															<i class="mdi mdi-settings fs-4"></i>
														</span>
														<div class="ms-2">
															<h5 class="mb-0">Settings</h5>
															<span class="mail-desc">You can customize this template</span>
														</div>
													</div>
												</a>
												<!-- Message -->
												<a href="javascript:void(0)" class="link border-top">
													<div class="d-flex no-block align-items-center p-10">
														<span class="
																                                btn btn-primary btn-circle
																                                d-flex
																                                align-items-center
																                                justify-content-center
																                              ">
															<i class="mdi mdi-account fs-4"></i>
														</span>
														<div class="ms-2">
															<h5 class="mb-0">Pavan kumar</h5>
															<span class="mail-desc">Just see the my admin!</span>
														</div>
													</div>
												</a>
												<!-- Message -->
												<a href="javascript:void(0)" class="link border-top">
													<div class="d-flex no-block align-items-center p-10">
														<span class="
																                                btn btn-danger btn-circle
																                                d-flex
																                                align-items-center
																                                justify-content-center
																                              ">
															<i class="mdi mdi-link fs-4"></i>
														</span>
														<div class="ms-2">
															<h5 class="mb-0">Luanch Admin</h5>
															<span class="mail-desc">Just see the my new admin!</span>
														</div>
													</div>
												</a>
											</div>
										</li>
									</ul>
								</ul>
							</li>
							<!-- ============================================================== -->
							<!-- End Messages -->
							<!-- ============================================================== -->

							<!-- ============================================================== -->
							<!-- User profile and search -->
							<!-- ============================================================== -->
								<li class="nav-item dropdown"> <a class="
									                    nav-link
									                    dropdown-toggle
									                    text-muted
									                    waves-effect waves-dark
									                    pro-pic
									                  " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<img src="../asset/images/users/1.jpg" alt="user" class="rounded-circle" width="31"/>
								</a>
								<ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="javascript:void(0)">
										<i class="mdi mdi-account me-1 ms-1"></i>
										My Profile</a>
									<a class="dropdown-item" href="javascript:void(0)">
										<i class="mdi mdi-wallet me-1 ms-1"></i>
										My Balance</a>
									<a class="dropdown-item" href="javascript:void(0)">
										<i class="mdi mdi-email me-1 ms-1"></i>
										Inbox</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="javascript:void(0)">
										<i class="mdi mdi-settings me-1 ms-1"></i>
										Account
										                    Setting</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="/logout">
										<i class="fa fa-power-off me-1 ms-1"></i>
										Logout</a>
									<div class="dropdown-divider"></div>
									<div class="ps-4 p-10">
										<a href="javascript:void(0)" class="btn btn-sm btn-success btn-rounded text-white">View Profile</a>
									</div>
								</ul>
							</li>
							<!-- ============================================================== -->
						<!-- User profile and search -->
							<!-- ============================================================== -->
						</ul>
					</div>
				</nav>
			</header>
      <!-- ============================================================== -->
      <!-- End Topbar header -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
          <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/Dashboard"
                  aria-expanded="false"
                  ><i class="mdi mdi-dialpad"></i
                  ><span class="hide-menu">Dashboard</span></a
                >
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/messages/"
                  aria-expanded="false"
                  ><i class="mdi mdi-comment-processing"></i
                  ><span class="hide-menu">Message</span></a
                >
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/task/"
                  aria-expanded="false"
                  ><i class="mdi mdi-playlist-check"></i
                  ><span class="hide-menu">Task</span></a
                >
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="/infrastructure/"
                  aria-expanded="false"
                  ><i class="mdi mdi-slack"></i
                  ><span class="hide-menu">Asset</span></a
                >
              </li>
              {# <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="grid.html"
                  aria-expanded="false"
                  ><i class="mdi mdi-blur-linear"></i
                  ><span class="hide-menu">Full Width</span></a
                >
              </li> #}
              <li class="sidebar-item">
                <a
                  class="sidebar-link has-arrow waves-effect waves-dark"
                  href="javascript:void(0)"
                  aria-expanded="false"
                  ><i class="mdi mdi-city"></i
                  ><span class="hide-menu">Building</span></a
                >
                <ul aria-expanded="false" class="collapse first-level">
                <li class="sidebar-item">
                    <a href="/building/" class="sidebar-link"
                      >
                      {# <i class="mdi mdi-note-outline"></i
                      > #}
                      <span class="hide-menu"> Building</span></a
                    >
                  </li>
                  <li class="sidebar-item">
                    <a href="/office/" class="sidebar-link"
                      >
                      {# <i class="mdi mdi-note-outline"></i
                      > #}
                      <span class="hide-menu"> Office</span></a
                    >
                  </li>
                  <li class="sidebar-item">
                    <a href="/classroom/" class="sidebar-link"
                      >
                      {# <i class="mdi mdi-note-plus"></i
                      > #}
                      <span class="hide-menu"> Classroom</span></a
                    >
                  </li>
                </ul>
              </li>
              {# <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark sidebar-link"
                  href="pages-buttons.html"
                  aria-expanded="false"
                  ><i class="mdi mdi-relative-scale"></i
                  ><span class="hide-menu">Buttons</span></a
                >
              </li> #}
              <li class="sidebar-item">
                <a
                  class="sidebar-link has-arrow waves-effect waves-dark"
                  href="javascript:void(0)"
                  aria-expanded="false"
                  >
                  <i class="mdi mdi-account"></i
                  >
                  <span class="hide-menu">User</span></a
                >
                <ul aria-expanded="false" class="collapse first-level">
                  <li class="#">
                    <a href="" class="sidebar-link"
                      >
                      {# <i class="mdi mdi-account-location"></i
                      > #}
                      <span class="hide-menu"> Staff</span></a
                    >
                  </li>
                  <li class="sidebar-item">
                    <a href="/technician/" class="sidebar-link"
                      >
                      {# <i class="mdi mdi-account-location"></i
                      > #}
                      <span class="hide-menu"> Technician</span></a
                    >
                  </li>
                   <li class="sidebar-item">
                    <a href="/users" class="sidebar-link"
                      >
                      {# <
                      i class="mdi mdi-account-location"></
                      > #}
                      <span class="hide-menu"> Student</span></a
                    >
                  </li>
                </ul>
              </li>
            
              {# <li class="sidebar-item p-3">
                <a
                  href="https://github.com/wrappixel/matrix-admin-bt5"
                  target="_blank"
                  class="
                    w-100
                    btn btn-cyan
                    d-flex
                    align-items-center
                    text-white
                  "
                  ><i class="mdi mdi-cloud-download font-20 me-2"></i>Download
                  Free</a
                >
              </li> #}
            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">BUILDING</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Library
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>



        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
       <div class="YRrCJSr_j5nopfm4duUc e8VqoQNK0mbkRFDL3LMV">
    <div class="_IebywwKB6L2zG0BTy63">
        <div class="VPGGthdu3cy_ZP7AL7dt TK9h2c2b79uBgR_cJzCE u0Aizb1ol0gBXDISYKJM">
            <div class="wBVMFkIGfrKshbvi2gS1 mngKhi_Rv06PF57lblDI">
                <table class="TK9h2c2b79uBgR_cJzCE Zy1Pypi71Xu6guex6urN NIAblPiyeuYQ0zW671xb tE23eyc5jfeQpiPRybcw">
                    {% for building in buildings %}
                    <tbody class="_Ybd3WwuTVljUT4vEaM3 Zy1Pypi71Xu6guex6urN NIAblPiyeuYQ0zW671xb _1jTZ8KXRZul60S6czNi XpuPpk9eXhVCrleKmXDr">
                        
                        <tr class="SA5DoMHfwOFtY4h_qzuM _7KA5gD55t2lxf9Jkj20 OPrb_iG5WDy_7F05BDOX" onclick="location.href='/building/{{ building.id }}';">
                            <td class="E9GV5sZJIbfO_GEQ_moc _wYiJGbRZyFZeCc8y7Sf">
                                <div class="_k0lTW0vvzboctTxDi2R Q_jg_EPdNf9eDMn1mLI2 d4louhNic5PFgJGRKqn6">
                                    <div>
                                        <input id="checkbox-1" aria-describedby="checkbox-1" type="checkbox" class="E9GV5sZJIbfO_GEQ_moc _o2IXcpM0qnG3JPReKus vpDN1VEJLu5FmLkr5WCk Y3FxyuXtj2gecrGXvLEI jtAJHOc7mn7b4IKRO59D focus:ring-3 KmgKPWh7pHX4ztLneO0T BO8JrKgx4qkHG27c4wVR _GL8_lXmAgroY9ZBWGLH jqg6J89cvxmDiFpnV56r Mmx5lX7HVdrWCgh3EpTP" onclick="event.stopPropagation();">
                                        <label for="checkbox-1" class="_DVAfiyo21kM68EUVzEQ">checkbox</label>
                                    </div>
                                    <svg onclick="event.stopPropagation();" class="YIUegm7fh_CpJbivTu6B MnxxlQlR1H0xJuMEE8Yr PeR2JZ9BZHYIH8Ea3F36 lVdPby_geDbl2zZm5HXn XIIs8ZOri3wm8Wnj9N_y XnOFrrg_oAfYnE6_iOPb" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"></path></svg>
                                </div>
                            </td>
                            <td class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2 _wYiJGbRZyFZeCc8y7Sf d4louhNic5PFgJGRKqn6 BHrWGjM1Iab_fAz0_91H">
                                <img class="YIUegm7fh_CpJbivTu6B MnxxlQlR1H0xJuMEE8Yr RpVwy4sO7Asb86CncKJ_" src="https://img.icons8.com/?size=1x&id=40323&format=png" alt="Neil Sims">
                                <div class="d3C8uAdJKNl1jzfE9ynq yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">{{ building.name }}</div>
                            </td>
                            <td class="_wYiJGbRZyFZeCc8y7Sf d3C8uAdJKNl1jzfE9ynq yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE ZhzOGpbwY0R4TKKYr5pG SwT7Kd2nq4AegrA_rbqO EaxKPe33bBy_Ky6mzblq vfNYjqjYMlN1XskEucCt wBVMFkIGfrKshbvi2gS1"> {{ building.description }}</td>
                            <td class="_wYiJGbRZyFZeCc8y7Sf BHrWGjM1Iab_fAz0_91H d3C8uAdJKNl1jzfE9ynq ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE"> {{ building.code }}</td>

                            <td class="_wYiJGbRZyFZeCc8y7Sf EU43bH15DCmsqkGyVBGj BHrWGjM1Iab_fAz0_91H">
                               <a href="/building/edit/{{ building.id }}">
                                <button type="button" data-modal-toggle="user-modal" class="_k0lTW0vvzboctTxDi2R Q_jg_EPdNf9eDMn1mLI2 _Cj_M6jt2eLjDgkBBNgI b9aD6g2qw84oyZNsMO8j c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe ijrOHNoSVGATsWYKl4Id y6GKdvUrd7vp_pxsFb57 g40_g3BQzYCOX5eZADgY mveJTCIb2WII7J4sY22F YoPCmQ0E_V5W0GGmSIdm _dylIDxYTN3qgvD4U597 KmgKPWh7pHX4ztLneO0T d8_fVOcgDmbt7UdpfeLK WuKugQzwTT7o1wwBck2R _ZsTMX_gz275093orLWM">
                                    <svg class="ADSeKHR1DvUUA48Chci_ rxe6apEJoEk8r75xaVNG fhCwost7CSNRc2WSHLFW" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg>
                                  Edit building
                                </button>
                                </a>

                                <a href="/building/delete/{{ building.id }}">
                                <button type="button" data-modal-toggle="delete-user-modal" class="_k0lTW0vvzboctTxDi2R Q_jg_EPdNf9eDMn1mLI2 _Cj_M6jt2eLjDgkBBNgI b9aD6g2qw84oyZNsMO8j c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe ijrOHNoSVGATsWYKl4Id y6GKdvUrd7vp_pxsFb57 SdPDrbResNmgnA0L4Iki mveJTCIb2WII7J4sY22F _hwGprpWFg861uOaLs98 _dylIDxYTN3qgvD4U597 wGCv_lBIef6dPW_LgqPQ g0psQAXAFirvUBcDyMSb">
                                    <svg class="ADSeKHR1DvUUA48Chci_ rxe6apEJoEk8r75xaVNG fhCwost7CSNRc2WSHLFW" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
                                  Delete building
                                </button>
                                </a>
                                    
                            </td>

                        </tr>
                        <!-- Unread -->
                        
                        
                      {# dynamic symfony table #}
                       
                      {# end #}

                        
                        
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
          All Rights Reserved by Matrix-admin. Designed and Developed by
          <a href="https://www.wrappixel.com">WrapPixel</a>.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../asset/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../asset/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../asset/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../asset/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="../dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../dist/js/custom.min.js"></script>
    <!-- this page js -->
    <script src="../asset/extra-libs/multicheck/datatable-checkbox-init.js"></script>
    <script src="../asset/extra-libs/multicheck/jquery.multicheck.js"></script>
    <script src="../asset/extra-libs/DataTables/datatables.min.js"></script>
    <script>
      /****************************************
       *       Basic Table                   *
       ****************************************/
      $("#zero_config").DataTable();
    </script>

    {# flowable template scripts #}
        <script src="https://flowbite.com/application-ui/demo/app.bundle.js"></script>

    {# end #}
  </body>
</html>























































{# {% extends 'base2.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
<div class="p-4 sm:ml-64 sm:mt-10">
<div class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5">
    <div class="mb-1 w-full">
        <div class="mb-4">
            <nav class="flex mb-5" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-2">
                <li class="inline-flex items-center">
                    <a href="#" class="text-gray-700 hover:text-gray-900 inline-flex items-center">
                    <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
                    Home
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                    <a href="#" class="text-gray-700 hover:text-gray-900 ml-1 md:ml-2 text-sm font-medium">Users</a>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                    <span class="text-gray-400 ml-1 md:ml-2 text-sm font-medium" aria-current="page">List</span>
                    </div>
                </li>
                </ol>
            </nav>
            <h1 class="text-xl sm:text-2xl font-semibold text-gray-900">All users</h1>
        </div>
        <div class="sm:flex">
            <div class="hidden sm:flex items-center sm:divide-x sm:divide-gray-100 mb-3 sm:mb-0">
                <form class="lg:pr-3" action="#" method="GET">
                <label for="users-search" class="sr-only">Search</label>
                <div class="mt-1 relative lg:w-64 xl:w-96">
                    <input type="text" name="email" id="users-search" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Search for users">
                </div>
                </form>
                <div class="flex space-x-1 pl-0 sm:pl-2 mt-3 sm:mt-0">
                    <a href="#" class="text-gray-500 hover:text-gray-900 cursor-pointer p-1 hover:bg-gray-100 rounded inline-flex justify-center">
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path></svg>
                    </a>
                    <a href="#" class="text-gray-500 hover:text-gray-900 cursor-pointer p-1 hover:bg-gray-100 rounded inline-flex justify-center">
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
                    </a>
                    <a href="#" class="text-gray-500 hover:text-gray-900 cursor-pointer p-1 hover:bg-gray-100 rounded inline-flex justify-center">
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
                    </a>
                    <a href="#" class="text-gray-500 hover:text-gray-900 cursor-pointer p-1 hover:bg-gray-100 rounded inline-flex justify-center">
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"></path></svg>
                    </a>
                </div>
            </div>
            <div class="flex items-center space-x-2 sm:space-x-3 ml-auto">
                <button type="button" data-modal-toggle="add-user-modal" class="w-1/2 text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium inline-flex items-center justify-center rounded-lg text-sm px-3 py-2 text-center sm:w-auto">
                    <svg class="-ml-1 mr-2 h-6 w-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                    Add user
                </button>
                <a href="#" class="w-1/2 text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-cyan-200 font-medium inline-flex items-center justify-center rounded-lg text-sm px-3 py-2 text-center sm:w-auto">
                    <svg class="-ml-1 mr-2 h-6 w-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z" clip-rule="evenodd"></path></svg>
                    Export
                </a>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-col">
    <div class="overflow-x-auto">
        <div class="align-middle inline-block min-w-full">
            <div class="shadow overflow-hidden">
                <table class="table-fixed min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-100">
                        <tr>
                            <th scope="col" class="p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-all" aria-describedby="checkbox-1" type="checkbox"
                                        class="bg-gray-50 border-gray-300 focus:ring-3 focus:ring-cyan-200 h-4 w-4 rounded">
                                    <label for="checkbox-all" class="sr-only">checkbox</label>
                                </div>
                            </th>
                            <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                                Building
                            </th>
                            {# <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                                Position
                            </th> #}
                            {# <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                                code
                            </th>
                            <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">
                                Description
                            </th>
                            <th scope="col" class="p-4">
                            </th>
                        </tr>
                    </thead>
                    {% for buildings in building %}
                    <tbody class="bg-white divide-y divide-gray-200">

                        <tr class="hover:bg-gray-100">
                            <td class="p-4 w-4">
                                <div class="flex items-center">
                                    <input id="checkbox" aria-describedby="checkbox-1" type="checkbox"
                                        class="bg-gray-50 border-gray-300 focus:ring-3 focus:ring-cyan-200 h-4 w-4 rounded">
                                    <label for="checkbox" class="sr-only">checkbox</label>
                                </div>
                            </td>
                            <td class="p-4 flex items-center whitespace-nowrap space-x-6 mr-12 lg:mr-0">
                                <img class="h-10 w-10 rounded-full" src= {{ buildings.ImagePath }} alt=" avatar">
                                <div class="text-sm font-normal text-gray-500">
                                    <div class="text-base font-semibold text-gray-900">{{ buildings.name }}</div>
                                    <div class="text-sm font-normal text-gray-500"></div>
                                </div>
                            </td>
                             <td class="p-4 flex items-center whitespace-nowrap space-x-6 mr-12 lg:mr-0">
                                <div class="text-sm font-normal text-gray-500">
                                    <div class="text-base font-semibold text-gray-900">{{ buildings.code }}</div>
                                    <div class="text-sm font-normal text-gray-500"></div>
                                </div>
                            </td>
                            <td class="p-4 flex items-center whitespace-nowrap space-x-6 mr-12 lg:mr-0">
                                <div class="text-sm font-normal text-gray-500">
                                    <div class="text-base font-semibold text-gray-900">{{ buildings.description }}</div>
                                    <div class="text-sm font-normal text-gray-500"></div>
                                </div>
                            </td>
                            {# <td class="p-4 whitespace-nowrap text-base font-medium text-gray-900"></td> #}
                            {# <td class="p-4 whitespace-nowrap text-base font-medium text-gray-900">{{ offices.location }}</td> #}
                            {# <td class="p-4 whitespace-nowrap text-base font-normal text-gray-900">
                                <div class="flex items-center">
                                  <div class="h-2.5 w-2.5 rounded-full bg-green-400 mr-2"></div>  <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div>
                                </div>
                            </td>
                            <td class="p-4 whitespace-nowrap space-x-2">
                                <button type="button" data-modal-toggle="user-modal" class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center">
                                    <svg class="mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg>
                                    Edit building
                                </button>
                                <button type="button" data-modal-toggle="delete-user-modal" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center">
                                    <svg class="mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
                                    Delete building
                                </button>
                            </td>
                        </tr>

                    </tbody>
            {%endfor%}
                </table>
            </div>
        </div>
    </div>
</div>
<div class="bg-white sticky sm:flex items-center w-full sm:justify-between bottom-0 right-0 border-t border-gray-200 p-4">
    <div class="flex items-center mb-4 sm:mb-0">
        <a href="#" class="text-gray-500 hover:text-gray-900 cursor-pointer p-1 hover:bg-gray-100 rounded inline-flex justify-center">
            <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
        </a>
        <a href="#" class="text-gray-500 hover:text-gray-900 cursor-pointer p-1 hover:bg-gray-100 rounded inline-flex justify-center mr-2">
            <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        </a>
        <span class="text-sm font-normal text-gray-500">Showing <span class="text-gray-900 font-semibold">1-20</span> of <span class="text-gray-900 font-semibold">2290</span></span>
    </div>
    <div class="flex items-center space-x-3">
        <a href="#" class="flex-1 text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium inline-flex items-center justify-center rounded-lg text-sm px-3 py-2 text-center">
            <svg class="-ml-1 mr-1 h-5 w-5"" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
            Previous
        </a>
        <a href="#" class="flex-1 text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium inline-flex items-center justify-center rounded-lg text-sm px-3 py-2 text-center">
            Next
            <svg class="-mr-1 ml-1 h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        </a>
    </div>
</div>

<!-- Edit User Modal -->
<div class="hidden overflow-x-hidden overflow-y-auto fixed top-4 left-0 right-0 md:inset-0 z-50 justify-center items-center h-modal sm:h-full" id="user-modal">
    <div class="relative w-full max-w-2xl px-4 h-full md:h-auto">
        <!-- Modal content -->
        <div class="bg-white rounded-lg shadow relative">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-5 border-b rounded-t">
                <h3 class="text-xl font-semibold">
                    Edit user
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-toggle="user-modal">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <form action="#">
                    <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-6 sm:col-span-3">
                            <label for="first-name" class="text-sm font-medium text-gray-900 block mb-2">First Name</label>
                            <input type="text" name="first-name" id="first-name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Bonnie" required>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="last-name" class="text-sm font-medium text-gray-900 block mb-2">Last Name</label>
                            <input type="text" name="last-name" id="last-name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Green" required>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="email" class="text-sm font-medium text-gray-900 block mb-2">Email</label>
                            <input type="email" name="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="example@company.com" required>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="phone-number" class="text-sm font-medium text-gray-900 block mb-2">Phone Number</label>
                            <input type="number" name="phone-number" id="phone-number" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="e.g. +(12)3456 789" required>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="department" class="text-sm font-medium text-gray-900 block mb-2">Department</label>
                            <input type="text" name="department" id="department" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Development" required>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="company" class="text-sm font-medium text-gray-900 block mb-2">Company</label>
                            <input type="number" name="company" id="company" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="123456" required>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="current-password" class="text-sm font-medium text-gray-900 block mb-2">Current Password</label>
                            <input type="password" name="current-password" id="current-password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="" required>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="new-password" class="text-sm font-medium text-gray-900 block mb-2">New Password</label>
                            <input type="password" name="new-password" id="new-password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="" required>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="items-center p-6 border-t border-gray-200 rounded-b">
                    <button class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit">Save all</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add User Modal -->
<div class="hidden overflow-x-hidden overflow-y-auto fixed top-4 left-0 right-0 md:inset-0 z-50 justify-center items-center h-modal sm:h-full" id="add-user-modal">
    <div class="relative w-full max-w-2xl px-4 h-full md:h-auto">
        <!-- Modal content -->
        <div class="bg-white rounded-lg shadow relative">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-5 border-b rounded-t">
                <h3 class="text-xl font-semibold">
                    Add new user
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-toggle="add-user-modal">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <form action="#">
                    <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-6 sm:col-span-3">
                            <label for="first-name" class="text-sm font-medium text-gray-900 block mb-2">First Name</label>
                            <input type="text" name="first-name" id="first-name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Bonnie" required>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="last-name" class="text-sm font-medium text-gray-900 block mb-2">Last Name</label>
                            <input type="text" name="last-name" id="last-name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Green" required>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="email" class="text-sm font-medium text-gray-900 block mb-2">Email</label>
                            <input type="email" name="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="example@company.com" required>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="phone-number" class="text-sm font-medium text-gray-900 block mb-2">Phone Number</label>
                            <input type="number" name="phone-number" id="phone-number" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="e.g. +(12)3456 789" required>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="department" class="text-sm font-medium text-gray-900 block mb-2">Department</label>
                            <input type="text" name="department" id="department" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="Development" required>
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="company" class="text-sm font-medium text-gray-900 block mb-2">Company</label>
                            <input type="number" name="company" id="company" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" placeholder="123456" required>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="items-center p-6 border-t border-gray-200 rounded-b">
                    <button class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit">Add user</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete User Modal -->
<div class="hidden overflow-x-hidden overflow-y-auto fixed top-4 left-0 right-0 md:inset-0 z-50 justify-center items-center h-modal sm:h-full" id="delete-user-modal">
    <div class="relative w-full max-w-md px-4 h-full md:h-auto">
        <!-- Modal content -->
        <div class="bg-white rounded-lg shadow relative">
            <!-- Modal header -->
            <div class="flex justify-end p-2">
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-toggle="delete-user-modal">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 pt-0 text-center">
                <svg class="w-20 h-20 text-red-600 mx-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                <h3 class="text-xl font-normal text-gray-500 mt-5 mb-6">Are you sure you want to delete this user?</h3>
                <a href="#" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-base inline-flex items-center px-3 py-2.5 text-center mr-2">
                    Yes, I'm sure
                </a>
                <a href="#" class="text-gray-900 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-cyan-200 border border-gray-200 font-medium inline-flex items-center rounded-lg text-base px-3 py-2.5 text-center" data-modal-toggle="delete-user-modal">
                    No, cancel
                </a>
            </div>
        </div>
    </div>
</div>

</div> #}
{# {% endblock %} #}






{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#  <meta charset="UTF-8">#}
{#  <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#  <meta http-equiv="X-UA-Compatible" content="ie=edge">#}
{#  <title>ValuedSeed - Dashboard</title>#}
{#   <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22></text></svg>">#}
{#        <script src="https://cdn.tailwindcss.com"></script>#}
{#        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>#}
{#</head>#}
{#<body class="h-screen flex flex-col">#}
{#  <header class="flex flex-shrink-0">#}
{#    <div class="w-64 flex-shrink-0 px-4 py-3 bg-gray-800">#}
{#      <button class="block w-full flex items-center">#}
{#        <img#}
{#        class="h-8 w-8 rounded-full object-cover"#}
{#        src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=144&q=80">#}
{#        <span class="ml-4 mr-2 text-sm font-medium text-white">Akanbi Lawal</span>#}
{#        <svg class="ml-auto h-6 w-6 stroke-current text-gray-400" viewBox="0 0 24 24" fill="none">#}
{#          <path#}
{#            d="M16 10l-4 4-4-4"#}
{#            stroke-width="2"#}
{#            stroke-linecap="round"#}
{#            stroke-linejoin="round"#}
{#          />#}
{#        </svg>#}
{#      </button>#}
{#    </div>#}
{#      <div class="flex-1 flex items-center px-6 justify-between bg-gray-700">#}
{#        <nav class="flex">#}
{#          <a href="#" class="ml-2 text-sm px-3 py-2 leading-none rounded-lg inline-block font-medium text-white hover:bg-gray-600 bg-gray-800">Mailbox</a>#}
{#          <a href="#" class="ml-2 text-sm px-3 py-2 leading-none rounded-lg inline-block font-medium text-white hover:bg-gray-600">Customers</a>#}
{#          <a href="#" class="ml-2 text-sm px-3 py-2 leading-none rounded-lg inline-block font-medium text-white hover:bg-gray-600">Reporting</a>#}
{#          <a href="#" class="ml-2 text-sm px-3 py-2 leading-none rounded-lg inline-block font-medium text-white hover:bg-gray-600">Manage</a>#}
{#        </nav>#}
{#        <div class="flex">#}
{#          <div class="relative py-1">#}
{#            <span class="absolute inset-y-0 left-0 flex items-center pl-2">#}
{#              <svg class="h-5 w-5 fill-current text-gray-500" viewBox="0 0 24 24">#}
{#                <path fill-rule="evenodd" clip-rule="evenodd"#}
{#                  d="M10 2a8 8 0 100 16 8 8 0 000-16zM0 10C0 4.477 4.477 0 10 0s10 4.477 10 10-4.477 10-10 10S0 15.523 0 10z"#}
{#                />#}
{#                <path fill-rule="evenodd" clip-rule="evenodd"#}
{#                  d="M16.293 16.293a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414l-6-6a1 1 0 010-1.414z" />#}
{#              </svg>#}
{#            </span>#}
{#            <input class="block pl-10 pr-4 py-2 w-64 bg-gray-900 rounded-lg text-sm placeholder-gray-400 text-white focus:bg-white focus:placeholder-gray-700 focus:text-gray-900 focus:outline-none" placeholder="Search">#}
{#          </div>#}
{#          <button class="ml-5 text-gray-400 hover:text-gray-200">#}
{#            <svg class="h-5 w-5 fill-current" viewBox="0 0 24 24">#}
{#              <path#}
{#                d="M8 0a2 2 0 00-2 2v.341C3.67 3.165 2 5.388 2 8v5H1a1 1 0 100 2h14a1 1 0 100-2h-1V8a6.002 6.002 0 00-4-5.659V2a2 2 0 00-2-2zM8 18a2 2 0 01-2-2h4a2 2 0 01-2 2z"#}
{#                 />#}
{#              </svg>#}
{#          </button>#}
{#          <button class="ml-5 text-gray-400 hover:text-gray-200">#}
{#            <svg class="h-5 w-5 fill-current" viewBox="0 0 24 24">#}
{#              <path fill-rule="evenodd" clip-rule="evenodd"#}
{#                d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10zm-1.086-8.724c-.084.56.392 1.022.958 1.022h.47a.525.525 0 00.524-.492c.057-.526.283-.986.676-1.379l.63-.62c.492-.495.836-.944 1.033-1.347.197-.409.295-.842.295-1.299 0-1.005-.303-1.782-.909-2.33C13.985 6.277 13.133 6 12.035 6c-1.088 0-1.947.29-2.58.871a2.84 2.84 0 00-.793 1.28c-.184.604.36 1.131.99 1.131.534 0 .933-.435 1.304-.84.052-.057.103-.114.154-.168.234-.247.542-.37.925-.37.808 0 1.212.454 1.212 1.362 0 .301-.078.589-.233.863-.155.269-.469.621-.94 1.056-.466.43-.787.869-.964 1.315-.087.221-.152.48-.196.776zm.057 2.611c-.233.231-.35.527-.35.887 0 .355.114.648.342.88.233.23.539.346.917.346s.68-.116.909-.347c.233-.231.35-.524.35-.879 0-.36-.12-.656-.358-.887-.233-.237-.534-.355-.901-.355-.368 0-.671.118-.91.355z"#}
{#                 />#}
{#            </svg>#}
{#          </button>#}
{#        </div>#}
{#      </div>#}
{#  </header>#}
{#  <div class="flex flex-1 overflow-hidden">#}
{#    <div class="w-64 p-6 bg-gray-100 overflow-y-auto">#}
{#      <nav>#}
{#        <h2 class="text-xs font-semibold text-gray-600 uppercase tracking-wider">#}
{#          Mailboxes#}
{#        </h2>#}

{#        <div class="mt-3">#}
{#          <a href="#" class="mt-2 -mx-3 px-3 py-2 flex items-center justify-between text-sm font-medium bg-gray-200 rounded-lg">#}
{#            <span class="inline-flex align-baseline">#}
{#              <span class="leading-normal">#}
{#              <i class="fas fa-inbox h-5 w-5 fill-current text-gray-700 "></i>#}
{#              </span>#}
{#              <span class="ml-2 text-gray-900">Inbox</span>#}
{#            </span>#}
{#            <span class="w-10 text-center py-1 text-xs font-semibold rounded-full text-gray-700 bg-gray-300">#}
{#              6#}
{#            </span>#}
{#          </a>#}
{#          <a href="#" class="mt-2 -mx-3 px-3 py-2 flex items-center justify-between text-sm font-medium hover:bg-gray-200 rounded-lg">#}
{#            <span class="inline-flex align-baseline">#}
{#              <span class="leading-normal">#}
{#              <i class="far fa-flag h-5 w-5 fill-current text-gray-500 "></i>#}
{#              </span>#}
{#              <span class="ml-2 text-gray-700">Flagged</span>#}
{#            </span>#}
{#          </a>#}
{#          <a href="#" class="mt-2 -mx-3 px-3 py-2 flex items-center justify-between text-sm font-medium hover:bg-gray-200 rounded-lg">#}
{#            <span class="inline-flex align-baseline">#}
{#              <span class="leading-normal">#}
{#              <i class="far fa-edit h-5 w-5 fill-current text-gray-500 "></i>#}
{#              </span>#}
{#              <span class="ml-2 text-gray-700">Drafts</span>#}
{#            </span>#}
{#            <span class="w-10 text-center py-1 text-xs font-semibold rounded-full text-gray-700 bg-gray-300">#}
{#              2#}
{#            </span>#}
{#          </a>#}
{#          <a href="#" class="mt-2 -mx-3 px-3 py-2 flex items-center justify-between text-sm font-medium hover:bg-gray-200 rounded-lg">#}
{#            <span class="inline-flex align-baseline">#}
{#              <span class="leading-normal">#}
{#              <i class="far fa-user-circle h-5 w-5 fill-current text-gray-500 "></i>#}
{#              </span>#}
{#              <span class="ml-2 text-gray-700">Assigned</span>#}
{#            </span>#}
{#            <span class="w-10 text-center py-1 text-xs font-semibold rounded-full text-gray-700 bg-gray-300">#}
{#              1#}
{#            </span>#}
{#          </a>#}
{#          <a href="#" class="mt-2 -mx-3 px-3 py-2 flex items-center justify-between text-sm font-medium hover:bg-gray-200 rounded-lg">#}
{#            <span class="inline-flex align-baseline">#}
{#              <span class="leading-normal">#}
{#              <i class="far fa-check-circle h-5 w-5 fill-current text-gray-500 "></i>#}
{#              </span>#}
{#              <span class="ml-2 text-gray-700">Closed</span>#}
{#            </span>#}
{#          </a>#}
{#          <a href="#" class="mt-2 -mx-3 px-3 py-2 flex items-center justify-between text-sm font-medium hover:bg-gray-200 rounded-lg">#}
{#            <span class="inline-flex align-baseline">#}
{#              <span class="leading-normal">#}
{#              <i class="fas fa-trash h-5 w-5 fill-current text-gray-500 "></i>#}
{#              </span>#}
{#              <span class="ml-2 text-gray-700">Junk</span>#}
{#            </span>#}
{#          </a>#}

{#        </div>#}

{#        <h2 class="mt-8 text-xs font-semibold text-gray-600 uppercase tracking-wider">#}
{#          Folders#}
{#        </h2>#}
{#        <div class="mt-4">#}
{#        <a href="#" class=" block text-sm font-medium text-gray-700">Refunds</a>#}
{#        <a href="#" class="mt-4 block text-sm font-medium text-gray-700">Discounts</a>#}
{#        <a href="#" class="mt-4 block text-sm font-medium text-gray-700">Bugs</a>#}
{#        </div>#}
{#      </nav>#}
{#    </div>#}
{#    <main class="flex-1 flex bg-gray-200">#}
{#      <div class="relative flex flex-col w-full max-w-xs flex-grow border-l border-r bg-gray-200">#}
{#        <div class="flex-shrink-0 px-4 py-2 border-b flex items-center justify-between">#}
{#          <button class="flex items-center text-xs font-semibold text-gray-600">#}
{#            Sorted by Date#}
{#            <span class="leading-loose h-6 w-6 stroke-current text-gray-500">#}
{#              <i class="fas fa-chevron-down ml-1"></i>#}
{#            </span>#}
{#          </button>#}
{#          <button>#}
{#            <span class=" h-6 w-6 stroke-current text-gray-500">#}
{#              <i class="fas fa-sort-amount-up"></i>#}
{#            </span>#}
{#          </button>#}
{#        </div>#}
{#        <div class="flex-1 overflow-y-auto">#}
{#          <a href="#" class="block px-6 pt-3 pb-4 bg-white">#}
{#            <div class="flex justify-between">#}
{#              <span class="text-sm font-semibold text-gray-900">Masturah Adam</span>#}
{#              <span class="text-sm text-gray-500">2 days ago</span>#}
{#            </div>#}
{#            <p class="text-sm text-gray-900">Refund</p>#}
{#            <p class="text-sm text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus element...</p>#}
{#          </a>#}
{#          <a href="#" class="block px-6 pt-3 pb-4 bg-white border-t">#}
{#            <div class="flex justify-between">#}
{#              <span class="text-sm font-semibold text-gray-900">Masturah Adam</span>#}
{#              <span class="text-sm text-gray-500">2 days ago</span>#}
{#            </div>#}
{#            <p class="text-sm text-gray-900">Refund</p>#}
{#            <p class="text-sm text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus element...</p>#}
{#          </a>#}
{#          <a href="#" class="block px-6 pt-3 pb-4 bg-white border-t">#}
{#            <div class="flex justify-between">#}
{#              <span class="text-sm font-semibold text-gray-900">Masturah Adam</span>#}
{#              <span class="text-sm text-gray-500">2 days ago</span>#}
{#            </div>#}
{#            <p class="text-sm text-gray-900">Refund</p>#}
{#            <p class="text-sm text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus element...</p>#}
{#          </a>#}
{#          <a href="#" class="block px-6 pt-3 pb-4 bg-white border-t">#}
{#            <div class="flex justify-between">#}
{#              <span class="text-sm font-semibold text-gray-900">Masturah Adam</span>#}
{#              <span class="text-sm text-gray-500">2 days ago</span>#}
{#            </div>#}
{#            <p class="text-sm text-gray-900">Refund</p>#}
{#            <p class="text-sm text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus element...</p>#}
{#          </a>#}
{#          <a href="#" class="block px-6 pt-3 pb-4 bg-white border-t">#}
{#            <div class="flex justify-between">#}
{#              <span class="text-sm font-semibold text-gray-900">Masturah Adam</span>#}
{#              <span class="text-sm text-gray-500">2 days ago</span>#}
{#            </div>#}
{#            <p class="text-sm text-gray-900">Refund</p>#}
{#            <p class="text-sm text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus element...</p>#}
{#          </a>#}
{#          <a href="#" class="block px-6 pt-3 pb-4 bg-white border-t">#}
{#            <div class="flex justify-between">#}
{#              <span class="text-sm font-semibold text-gray-900">Masturah Adam</span>#}
{#              <span class="text-sm text-gray-500">2 days ago</span>#}
{#            </div>#}
{#            <p class="text-sm text-gray-900">Refund</p>#}
{#            <p class="text-sm text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus element...</p>#}
{#          </a>#}
{#          <a href="#" class="block px-6 pt-3 pb-4 bg-white border-t">#}
{#            <div class="flex justify-between">#}
{#              <span class="text-sm font-semibold text-gray-900">Masturah Adam</span>#}
{#              <span class="text-sm text-gray-500">2 days ago</span>#}
{#            </div>#}
{#            <p class="text-sm text-gray-900">Refund</p>#}
{#            <p class="text-sm text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus element...</p>#}
{#          </a>#}
{#          <a href="#" class="block px-6 pt-3 pb-4 bg-white border-t">#}
{#            <div class="flex justify-between">#}
{#              <span class="text-sm font-semibold text-gray-900">Masturah Adam</span>#}
{#              <span class="text-sm text-gray-500">2 days ago</span>#}
{#            </div>#}
{#            <p class="text-sm text-gray-900">Refund</p>#}
{#            <p class="text-sm text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus element...</p>#}
{#          </a>#}
{#          <a href="#" class="block px-6 pt-3 pb-4 bg-white border-t">#}
{#            <div class="flex justify-between">#}
{#              <span class="text-sm font-semibold text-gray-900">Masturah Adam</span>#}
{#              <span class="text-sm text-gray-500">2 days ago</span>#}
{#            </div>#}
{#            <p class="text-sm text-gray-900">Refund</p>#}
{#            <p class="text-sm text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus element...</p>#}
{#          </a>#}
{#          <a href="#" class="block px-6 pt-3 pb-4 bg-white border-t">#}
{#            <div class="flex justify-between">#}
{#              <span class="text-sm font-semibold text-gray-900">Masturah Adam</span>#}
{#              <span class="text-sm text-gray-500">2 days ago</span>#}
{#            </div>#}
{#            <p class="text-sm text-gray-900">Refund</p>#}
{#            <p class="text-sm text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus element...</p>#}
{#          </a>#}
{#          <a href="#" class="block px-6 pt-3 pb-4 bg-white border-t">#}
{#            <div class="flex justify-between">#}
{#              <span class="text-sm font-semibold text-gray-900">Masturah Adam</span>#}
{#              <span class="text-sm text-gray-500">2 days ago</span>#}
{#            </div>#}
{#            <p class="text-sm text-gray-900">Refund</p>#}
{#            <p class="text-sm text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus element...</p>#}
{#          </a>#}
{#        </div>#}
{#      </div>#}
{#      <div class="flex-1 flex flex-col w-0">#}
{#        <div class="relative shadow-md">#}
{#          <div class="flex items-center px-5 py-4 justify-between bg-gray-100 border-b">#}
{#            <div class="flex items-center">#}
{#              <button>#}
{#                <span class="leading-normal">#}
{#                  <i class="fas fa-reply h-5 w-5 text-2xl fill-current text-gray-600 "></i>#}
{#                </span>#}
{#              </button>#}
{#              <button class="ml-6">#}
{#                <span class="leading-normal">#}
{#                  <i class="fas fa-tag h-5 w-5 text-2xl fill-current text-gray-600 "></i>#}
{#                </span>#}
{#              </button>#}
{#              <button class="ml-6">#}
{#                <span class="leading-normal">#}
{#                  <i class="far fa-user-circle h-5 w-5 text-2xl fill-current text-gray-600 "></i>#}
{#                </span>#}
{#              </button>#}
{#              <button class="ml-6">#}
{#                <span class="leading-normal">#}
{#                  <i class="fas fa-file-download text-2xl fill-current text-gray-600 "></i>#}
{#                </span>#}
{#              </button>#}
{#              <button class="ml-4">#}
{#                <span class="leading-normal">#}
{#                  <i class="fas fa-ellipsis-h h-5 w-5 text-2xl fill-current text-gray-600 "></i>#}
{#                </span>#}
{#              </button>#}
{#            </div>#}
{#            <div class="flex items-center">#}
{#              <button>#}
{#                <span class="leading-normal">#}
{#                  <i class="fas fa-chevron-up h-8 w-8 text-2xl stroke-current text-gray-600"></i>#}
{#                </span>#}
{#              </button>#}
{#              <button>#}
{#                <span class="leading-normal">#}
{#                  <i class="fas fa-chevron-down h-8 w-8 text-2xl stroke-current text-gray-600"></i>#}
{#                </span>#}
{#              </button>#}
{#            </div>#}
{#          </div>#}
{#          <div class="flex items-center justify-between px-5 py-3 bg-white">#}
{#            <h3 class="text-xl text-gray-900 truncate">Re: Student discount? this is really long and has to wrap and looks stupid this is really long and has to wrap and looks stupid</h3>#}
{#            <div class="ml-4 flex-shrink-0">#}
{#              <span>#1428</span>#}
{#              <span class="ml-2 text-sm font-semibold text-green-900 bg-green-200 rounded-full leading-none px-2 py-1">Active</span>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}





{#       #}

{#        <div class="flex items-center justify-between px-5 py-3 bg-white">#}
{#          #}{# <article class="px-10 pt-6 pb-8 bg-white rounded-lg shadow"> #}
{#            #}{# <div class="flex items-center justify-between"> #}
{#                <table >#}
{#                    <thead class="bg-gray-100">#}
{#                        <tr>#}
{#                            <th scope="col" class="p-4">#}
{#                                <div class="flex items-center">#}
{#                                    <input id="checkbox-all" aria-describedby="checkbox-1" type="checkbox"#}
{#                                        class="bg-gray-50 border-gray-300 focus:ring-3 focus:ring-cyan-200 h-4 w-4 rounded">#}
{#                                    <label for="checkbox-all" class="sr-only">checkbox</label>#}
{#                                </div>#}
{#                            </th>#}
{#                             <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">#}
{#                                Avatar#}
{#                            </th>#}
{#                            <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">#}
{#                                Building#}
{#                            </th>#}
{#                            #}
{#                             <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">#}
{#                                code#}
{#                            </th>#}
{#                            <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase">#}
{#                                Description#}
{#                            </th>#}
{#                            <th scope="col" class="p-4">#}
{#                            </th>#}
{#                        </tr>#}
{#                    </thead>#}
{#                    {% for buildings in building %}#}
{#                    <tbody class="bg-white divide-y divide-gray-200">#}
{#                        #}
{#                        <tr class="hover:bg-gray-100">#}
{#                            <td class="p-4 w-4">#}
{#                                <div class="flex items-center">#}
{#                                    <input id="checkbox" aria-describedby="checkbox-1" type="checkbox"#}
{#                                        class="bg-gray-50 border-gray-300 focus:ring-3 focus:ring-cyan-200 h-4 w-4 rounded">#}
{#                                    <label for="checkbox" class="sr-only">checkbox</label>#}
{#                                </div>#}
{#                            </td>#}
{#                             <td class="p-4 w-4">#}
{#                                <div class="flex items-center">#}
{#                                <img class="h-10 w-10 rounded-full" src= {{ buildings.ImagePath }} alt=" avatar">#}
{#                                </div>#}
{#                            </td>#}
{#                         #}
{#                         <td class="p-4 whitespace-nowrap text-base font-medium text-gray-900">{{ buildings.name }}</td>#}
{#                        <td class="p-4 whitespace-nowrap text-base font-medium text-gray-900">{{ buildings.code }}</td>#}
{#                         <td class="p-4 whitespace-nowrap text-base font-medium text-gray-900">{{ buildings.description }}</td>#}

{#                         #}
{#                            <td class="p-4 whitespace-nowrap space-x-2">#}
{#                                <button type="button" data-modal-toggle="user-modal" class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center">#}
{#                                    <svg class="mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg>#}
{#                                    Edit #}
{#                                </button>#}
{#                                <button type="button" data-modal-toggle="delete-user-modal" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2 text-center">#}
{#                                    <svg class="mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>#}
{#                                    Delete #}
{#                                </button>#}
{#                            </td>#}
{#                        </tr>#}
{#                        #}
{#                    </tbody>#}
{#            {%endfor%}#}
{#                </table>#}

{#            #}{# </div> #}

{#          #}{# </article> #}

{#      </div>#}
{#    </main>#}
{#  </div>#}
{#</body>#}
{#</html>#}


